p {
    background: rgb(21, 122, 54);
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(21, 122, 54);
    font-family: "Impact", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}

img {
filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

